Import Library

In [ ]:
!pip install beautifulsoup4
import requests
import pandas as pd
import re
from bs4 import BeautifulSoup

Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (4.6.3)

In [ ]:
URL = "https://realpython.github.io/fake-jobs/"
page = requests.get(URL)

soup = BeautifulSoup(page.content, "html.parser")

In [ ]:
results = soup.find(id="ResultsContainer")
job_elements = results.find_all("div", class_="card-content")

In [ ]:
columns = ['Job Position', 'Company', 'Location']
df = pd.DataFrame(columns=columns)
df

Empty DataFrame
Columns: [Job Position, Company, Location]
Index: []

In [ ]:
pattern = '\s\w+,\ [A-Z]{2}'

for job_element in job_elements:
    title_element = job_element.find("h2", class_="title")
    company_element = job_element.find("h3", class_="company")
    location_element = job_element.find("p", class_="location")
    location_element = re.findall(pattern, location_element.text)[0]
    
    df.loc[len(df.index)] = [title_element.text, company_element.text, location_element]

In [ ]:
df

,Job Position,Company,Location
0,Senior Python Developer,"Payne, Roberts and Davis","Stewartbury, AA"
1,Energy engineer,Vasquez-Davidson,"Christopherville, AA"
2,Legal executive,"Jackson, Chambers and Levy","Ericaburgh, AA"
3,Fitness centre manager,Savage-Bradley,"Seanview, AP"
4,Product manager,Ramirez Inc,"Jamieview, AP"
...,...,...,...
95,Museum/gallery exhibitions officer,"Nguyen, Yoder and Petty","Abigail, AE"
96,"Radiographer, diagnostic",Holder LLC,"Jacobshire, AP"
97,Database administrator,Yates-Ferguson,"Susan, AE"
98,Furniture designer,Ortega-Lawrence,"Tiffany, AA"
99,Ship broker,"Fuentes, Walls and Castro","Michelleville, AP"